<div class="page-header">
  <h1><%= @company.name %></h1>
</div>

<dl class="dl-horizontal">
  <p><dt>Name: </dt>
  <dd><%= @company.name %></dd></p>
  <p><dt>Catch-Phrase: </dt>
  <dd><%= @company.catch_phrase %></dd></p>
  <p><dt>Suffix: </dt>
  <dd><%= @company.suffix %></dd></p>
</dl>
